*~
*.swp
elpa/
neotree/
php-mode/
web-mode/
yaml-mode/
flymake/
geben/
/ac-comphist.dat
/semanticdb/
/session.*
/.emacs.desktop.lock
/ido.last
/.emacs.desktop
/projectile-bookmarks.eld
/configuration.el
/ede-projects.el
/projectile.cache
